h1{
  font-size: 4.0rem;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
}
h2 {
	background: url(../images/arrow-down.png) no-repeat 90% 2%;
	padding: 10px 0 0 25px;
	cursor: pointer;
  font-size: 2.8rem;
  background-color: rgba(21,20,100,.1);
  padding:3%;
  border-bottom: 1px solid #151464;
  background-position: 95% center;
  font-weight: bold;
}
h2.close {
	background-image: url(../images/arrow-up.png);
}
.answer {
	margin-left: 25px;
